<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/css/bootstrap.css" />
<title>GameStudio</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 id="nadpisZac">GameStudio 2018</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<img src="/images/miny.png" alt="miny obrazok" height="100"/>
			</div>
			<div class="col-8">
				<a href="/mines">Miny</a>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-4">
				<img src="" alt="Puzzle obrazok" />
			</div>
			<div class="col-8">
				<a href="/puzzle">Puzzle</a>
			</div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-8">
				<div th:replace="footer::nice_footer" />
			</div>
		</div>
	</div>
</body>
</html>