<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>GameStudio</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="css/gamestudio.css" rel="stylesheet" />

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> -->

<!-- Custom styles for this template -->
<link href="css/heroic-features.css" rel="stylesheet" />

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">GameStudio 2018</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
<!-- 					<li class="nav-item active"><a class="nav-link" href="#">Home -->
<!-- 							<span class="sr-only">(current)</span> -->
<!-- 					</a></li> -->
					<!--             <li class="nav-item"> -->
					<!--               <a class="nav-link" href="#">About</a> -->
					<!--             </li> -->
					<!--             <li class="nav-item"> -->
					<!--               <a class="nav-link" href="#">Contact</a> -->
					<!--             </li> -->
					<li class="nav-item"><a class="nav-link" href="/user">Login/Registration</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">

		<!-- Jumbotron Header -->
		<header class="jumbotron1">
			<h1 class="display-3">Welcome to GameStudio</h1>
<!-- 			<span th:if='${@userController.logged}'> -->
<!-- 				<h3 class="display-8" -->
<!-- 					th:text='${@userController.loggedPlayer?.login}' /> -->
<!-- 			</span> -->
		</header>

		<!-- Page Features -->
		<div class="row text-center">

			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card">
					<img class="card-img-top" src="/images/miny.png" alt="mines" />
					<div class="card-body">
						<h4 class="card-title">Minesweeper</h4>
						<!--               <p class="card-text" ><div th:replace="footer::rating_mines" /></p> -->
						<p class="card-text">
							<div>Average rating</div>
							<!-- 						<div th:utext='${averageMines}' /> -->
						<span th:utext='${#numbers.formatDecimal(averageMines,1,1)}' /><span>/5</span>

						</p>
					</div>
					<div class="card-footer">
						<a href="/mines" class="btn btn-dark">Play!</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card">
					<img class="card-img-top" src="/images/unnamed.png"
						alt="puzzle" />
					<div class="card-body">
						<h4 class="card-title">Puzzle</h4>
						<p class="card-text">
							<div>Average rating</div>
						<span th:utext='${#numbers.formatDecimal(averagePuzzle,1,1)}' /><span>/5</span>
						</p>
					</div>
					<div class="card-footer">
						<a href="/puzzle" class="btn btn-dark">Play!</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card">
					<img class="card-img-top" src="/images/guess.png" alt="Guess the number!" />
					<div class="card-body">
						<h4 class="card-title">Guess the number!</h4>
						<p class="card-text">
						<div>Average rating</div>
						<span th:utext='${#numbers.formatDecimal(averageGuess,1,1)}' /><span>/5</span>
						</p>
					</div>
					<div class="card-footer">
						<a href="/guessnumber" class="btn btn-dark">Play!</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card">
					<img class="card-img-top" src="/images/slide2.png" alt="Sliding puzzle" />
					<div class="card-body">
						<h4 class="card-title">Sliding puzzle</h4>
						<p class="card-text">
						<div>Average rating</div>
						<span th:utext='${#numbers.formatDecimal(averageSlide,1,1)}' /><span>/5</span>
						</p>
					</div>
					<div class="card-footer">
						<a href="/slide" class="btn btn-dark">Play!</a>
					</div>
				</div>
			</div>

		</div>
		<div class="row-center">
			<div class="col-12a">
				<span th:if='${@userController.logged}'><h3>Your favorite games:</h3>
				</span>
				<table class="table-favourite">
					<tr th:each='favorite: ${favorites}'>
						<h4><div th:text='${favorite.game}' /></h4>
					</tr>
				</table>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">
				Copyright &copy; GameStudio 2018 <span
					th:if='${@userController.logged}'> | Logged as <span
					th:text='${@userController.loggedPlayer?.login}' /> | <a
					href="/logout"> Logout</a> <br />
				</span>
			</p>

		</div>
		<!-- /.container -->
	</footer>

	<!-- Bootstrap core JavaScript -->
	<!-- 	<script src="vendor/jquery/jquery.min.js"></script> -->
	<!-- 	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>